h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin: 0;
   
}

.block{
    position: relative;
}

.block h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.images{
    max-height: 470px;
}

.container {
    margin-top: 50px;
    height: 750px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.structure1 {
    width: 44.9%;
    text-align: center;
}

.structure1-example, .structure1{
    margin-left: 50px; 
}

.img1-float {
    background-color: #72f654;
    height: 100px;  
}

.img2-float {
    background-color: #ade4f6;
    width: 75%;
    height: 470px;
    float: right;
}

.text1-float {
    background-color: #9191fb;
    height: 470px;
    width: 25%;
    float: left;
}

.text2-float {
    background-color: #faf3b4;
    height: 180px;
    clear: both;
}

.img1-float-example {
    height: 100px;
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: #888599;
    text-align: center;
    margin-top: 8px;
}

.img2-float-example {
    width: 750px;
    height: 470px;
    float: right;
}

.text1-float-example {
    height: 470px;
    width: 250px;
    float: left;
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    color: #060317;
}

.text2-float-example {
    height: 180px;
    clear: both;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180px;
    text-align: center;
    color: #888599;
}

.structure2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    min-width: 44.9%;
    text-align: center;
}

.structure2-example, .structure2{
    margin-left: 50px; 
}

.content-flex{
    display: flex;
    min-height: 470px;
    align-items: center;
}

.img1-flex{
    background-color: #72f654;
    min-height: 100px;

}

.img2-flex {
    background-color: #ade4f6;
    flex: 1;
    min-height: 470px;
}

.text1-flex{
    background-color: #9191fb;
    min-width: 25%;
    min-height: 470px;
}

.text2-flex{
    background-color: #faf3b4;
    min-height: 180px;
}
 
.structure2-example{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    min-width: 1000px;
    text-align: center;
}

.content-flex-example{
    display: flex;
    min-height: 470px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-right: 88px;
}

.img1-flex-example{
    min-height: 100px;
    font-family: 'Cabin';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: #888599;
    text-align: center;
    margin-top: 8px;

}

.img2-flex-example {
    flex: 1;
    min-height: 470px;
}

.text1-flex-example{
    min-width: 250px;
    min-height: 470px;
    font-family: 'Geomanist';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    color: #060317;
}

.text2-flex-example{
    min-height: 180px;
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 180px;
    text-align: center;
    color: #888599;
}